.singUpInner
{
    width: 40rem;
    
    margin: 4rem auto;
    border: 0.2rem solid #000;
    border-radius: 0.2rem;
}

.singUpInner > .title 
{
    width: 100%;
    height: 3rem;
    background-color: #ff3366
}

.singUpInner > .title > span
{
    margin-left: 1rem;

    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    
    color: #fff;
}

.singUpInner > .information
{
    width: 100%;
    margin-top: 1rem;
}

.singUpInner > .information > .studentState,
.singUpInner > .information > .name,
.singUpInner > .information > .affiliation,
.singUpInner > .information > .universityState,
.singUpInner > .information > .specializeState
{
    width: 100%;
    height: 3rem;
}

.singUpInner > .information > .studentState > span,
.singUpInner > .information > .name > span,
.singUpInner > .information > .affiliation > span,
.singUpInner > .information > .universityState > span,
.singUpInner > .information > .specializeState > span
{
    float: left;

    width: 300px;
    height: 100%;
    
    margin : 0 1rem;
    
    font-size : 1.25rem;
    font-weight: 700;

    line-height: 3rem;
}

.singUpInner > .information > .name > input,
.singUpInner > .information > .affiliation > select,
.singUpInner > .information > .universityState > select,
.singUpInner > .information > .specializeState > select
{
    height: 1.25rem;
    margin: 0.875rem 0;
}

.singUpInner > .information > .studentState > p
{
    float: left;
    font-weight: 700;
    line-height: 3rem;

    font-size : 1rem;
}

.singUpInner > .information > .studentState > [type="radio"]
{
    float: left;
    
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.875rem;

    border: max(2px, 0.1rem) solid gray;
	border-radius: 50%;
}

.singUpInner > .information > .studentState > [type="radio"]:checked
{
    border: max(2px, 0.4rem) solid #fadee1;
}

.singUpInner > .information > .description {
    margin-top: 0.75rem;
    margin-left : 1rem;
}

.singUpInner > .information > .description > p
{
    font-size: 1rem;
    font-weight: 700;
}

.singUpInner > .information > .singUpAgree > button
{
    width: 38rem;
    height: 3rem;
    
    margin: 1rem;

    background-color: #f3cdad;
    font-size: 1.75rem;
    font-weight: 700;
}

.singUpInner > .information > .singUpAgree > button:hover
{
    width: 38rem;
    height: 3rem;
    
    margin: 1rem;

    background-color: #f3cdcd;
    font-size: 1.75rem;
    font-weight: 700;
}