.page 
{
    width: 1300px;
    margin: 0 auto;
}

.page > .expression 
{
    width: 100%;
    margin-top: 100px;
}

.page > .expression > h1 
{
    font-size: 4.063rem;
    font-weight: 700;

    color: #b5c7ed;
    text-shadow: 0.2px 0.2px #000000;
}

.page > .expression > h3 
{
    margin-top: 40px;
    
    font-size: 1.63rem;
    font-weight: 700;

    color: #b5c7ed;
    text-shadow: 0.5px 0.5px #868e96;
}

.page > .expression > h1 > a 
{
    color: #ffafd8;
    text-decoration: underline;
}

.page > .expression > h3 > a 
{
    color: #ffafd8;
    text-shadow: 0.5px 0.5px #afffba;
    text-decoration: underline;
}
